<%- include ('partials/header.ejs') %>
<div class="container">
    <hr>
    <a href="/cadastro/denuncia" class="btn btn-success">Cadastrar Denuncia</a>
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Listagem de Denuncias</h2>
        </div>
        <div class="card-body">
            <form>
                <h1>Listagem aqui!</h1>
            </form>
        </div>  
    </div>
</div>
<%- include ('partials/footer.ejs') %>