<%- include ('../partials/header.ejs') %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Listagem de Denuncias</h2>
        </div>
        <div class="card-body">
            <form>
                <% username.forEach(username=>{ %>
                    <%=username.name%>
                    <br>
                <% }) %>
            </form>
        </div>  
    </div>
</div>
<%- include ('../partials/footer.ejs') %>